.vagrant

salt/etc/*
!salt/etc/*.example

salt/roots/formulas/*
!salt/roots/formulas/.gitkeep

salt/roots/salt/*
!salt/roots/salt/.gitkeep

salt/roots/pillar/*
!salt/roots/pillar/.gitkeep

vagrant/*
!vagrant/examples
